page-result {
  #r-1,#r-3,#r-4,#r-2{
    text-align: center;
  }
  #r-1{
    font-size: 30px;
  }
  #r-3{
    font-size: 20px;
  }
  #r-4{
    font-style:bold;
    margin-bottom: 10px;
  }
  #r-2{
    margin-top: 30px;
  }
  ion-footer{
    margin-bottom: 20px;
  }
  #footer-btn{
    height:4em;
  }
  #log-img{
    width:50px;
    height: 50px;
  }
}
